@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Raleway",
sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal; */
:root {
    --color-preto: #0e0613;
    --color-laranja: #dd7930;
    --color-marrom: #795025;
    --color-lilas: #762697;
    --color-branco: #DECDC1;
    --color-roxo: #561d67;
}

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: var(--color-branco);
}

img {
    height: 30%;
    width: 100%;
    border-radius: 3%;
    box-shadow: 0 0 5rem var(--color-preto);
    margin-bottom: 1.5rem;
}

header, footer {
    padding: 2.5%;
    background-color: var(--color-roxo);
    width: auto;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-style: italic;
    margin: 2rem;
    text-shadow: 5px 5px 10px var(--color-preto);
    letter-spacing: -0.1em;
    color: var(--color-laranja);
}

h2 {
    font-size: 1.3rem;
    margin: 1rem;
    text-shadow: 5px 5px 10px var(--color-preto);
    letter-spacing: 0.25em;
    margin-top: -2rem;
    color: var(--color-laranja);
}

.caixaTexto {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
    width: auto;
}

.painelEscolhas, nav {
    text-align: center;
    padding: 1rem;
    width: 100%;
    width: auto;
}

select, #botaoLimpar {
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: var(--color-branco);
    border: 3px solid var(--color-roxo);
    background-color: var(--color-lilas);
    box-shadow: 2px 2px var(--color-roxo);
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    text-align: center;
    line-height: 100%;
}

select:hover, #botaoLimpar:hover {
    background-color: var(--color-roxo);
    box-shadow: var(--color-branco);
}

body, main, :root {
    background-color:var(--color-preto);
    margin: 0;
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row
}

li {
    box-sizing: border-box;
    border: 3px solid var(--color-preto);
    border-radius: 20px;
    padding: 1rem;
    text-align: left;
    display: flow-root;
    background:var(--color-roxo);
    height: auto;
    width: 23rem;
    margin: 2rem;
}

/* .cardsUnitarios {
    min-height:max-content;
} */

/* @media screen and (max-width: 600px) {
    li {
        
        margin: 1rem;
        font-size: 1rem;
        width: 46rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 46rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    .caixaTexto {
        font-size: 0.5rem;
    }

    nav {
        font-size: 1rem;
    }
} */